<div class="container col-sm-12">

  <div class="menu-deconnexion">
      <p class="pseudo-button" v-on:click="deconnect">Déconnexion</p>
  </div>

  <div class="menuTools">

      <router-link to="/mentions-legales" class=""> Mentions légales </router-link> -
      <router-link to="/help" class=""> Aide </router-link> -
      <router-link to="/problems" class=""> Signaler un problème </router-link> -
      <router-link to="/a-propos" class=""> À propos </router-link> -
      <router-link to="/FAQ" class=""> FAQ </router-link>

  </div>
</div>