    <div class="publish">
      <div class="row">
        <div class="col-md-1 col-lg-1 avatar">
            <img src="../../friendship-troopers/www/assets/images/Avatar1.svg" alt="default avatar" class="avatar">
        </div>
        <div class="col-md-11 col-lg-11">
          <form class="form-post" v-on:submit.prevent="save">
            <textarea rows="3" type="text" placeholder="Publier quelque chose" v-model="post.content" ></textarea>
          </form>
        </div>
      </div>
      <div class="row button-field">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-sm-5 text-left">
          <button v-on:click="uploadPicture" class="uploadPicture"> <img src="../../friendship-troopers/www/assets/images/Image.svg" alt="Upload Picture" class="avatar"> </button>
        </div>
        <div class="col-sm-6 text-right">
          <button v-on:click="publish">Publier</button>
        </div> 
      </div>
      <pre> {{post.content}} </pre>
    </div>