<div>
<navbar></navbar>  
  <div class="row no-gutters">
    <aside class="col-sm-3 col-md-3 col-lg-2">
      <lateral-menu-left></lateral-menu-left>
      <deconnexion class="desktop"></deconnexion>
      <menu-tools class="desktop"></menu-tools>
    </aside>
    <section class="messages col-sm-9 col-md-9 col-lg-10 container">
      <div class="row container-transparent">
          <h1 class="page-title"> Messagerie </h1>
          <div class="col-sm-11 col-md-11 col-lg-2 container-colored conv">
              <div class="new-conv pseudo-button col-md-2 col-lg-11">
                <img src="/assets/images/new.svg" class=" center">
                <p class="text-center"> Nouvelle conversation </p>
              </div>
              <div v-for="(friend,index) in friends" class="conversation pseudo-button col-md-2 col-lg-11" v-on:click="active(index)" v-bind:class="{ 'conv-selected' : friend.selected}">
                <img :src="friend.avatar" class="avatar center">
                <h1 v-bind:class="friend.planete"> {{ friend.name }} </h1>
              </div>
          </div>
          <div class="col-sm-11 col-md-11 col-lg-9 container-colored specific-conv">
            <p class="text-center date">{{date}}</p>
            <div v-for="message in conversation" class="row">
              <div class="col-sm-1 date"> à {{message.time }}</div>
              <div class="col-sm-11 message-perso" v-if="message.sender == 1">
                <img :src="friends[currentSelected].avatar" class="avatar left col-sm-1">
                <div class="col-sm-11 left">
                  <h1 v-bind:class="friends[currentSelected].planete" class="pseudo"> {{ friends[currentSelected].name }} </h1>
                  <p >  {{ message.content}} </p>
                </div>
              </div>
              <div class="col-sm-11 message-perso" v-else>
                <p class="col-sm-11 right"> {{ message.content}} </p>
                <img :src="myself.avatar"  class="avatar col-sm-1 right">
              </div>
            </div>
            <div class="row">
             <div class="col-sm-12 message-perso my-message">
                    <form class="form-post">
                     <img :src="myself.avatar"  class="avatar col-sm-1 right">
                      <textarea rows="2" type="text" placeholder="Votre message"  class="col-sm-10" v-model="newMessage"></textarea>
                      <img class="col-sm-1 pseudo-button" src="/assets/images/validation.svg" v-on:click="postNewMessage">
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>