<div class="container col-sm-12">

 <div class="lateralMenuRight">
 	<div v-if="actualite.intergalactique.length > 0"> 
 		<p class="lateral-actu-type top">Actualité intergalactique</p>
        <intergalactique-item v-for="item in actualite.intergalactique" v-bind:intergalactique="item"></intergalactique-item>
 	</div>

 	<div v-if="actualite.galactique.length > 0"> 
 		<p class="lateral-actu-type">Actualité galactique</p>
        <galactique-item v-for="item in actualite.galactique" v-bind:galactique="item"></galactique-item>
 	</div>


 	<div v-if="actualite.planetaire.length > 0"> 
 		<p class="lateral-actu-type">Actualité planetaire</p>
        <planetaire-item v-for="item in actualite.planetaire" v-bind:planetaire="item"></planetaire-item>
 	</div>

  </div>
</div>