<li> 
  <ul class = "sub-menu-item">
    <li>
      <router-link :to="{ name: 'User', params: { user: friend.username }}">
        <img :src=friend.imagePath alt="avatar" class="avatar"> 
      </router-link>
    </li>
     <li>
       <p :class=friend.planet class="pseudo">{{friend.username}}</p>
       <div  class="friend-validation" > 
         <img src="/assets/images/validation.svg" alt="valider" v-on:click="validateInvitation" title="Valider">
         <img src="/assets/images/Cross.svg" alt="refuser" v-on:click="refuseInvitation" title="Refuser">
       </div>
    </li>
  </ul>
</li>
