@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@font-face {
  font-family: earthOrbiter-font;
  src: url(earthorbiterxtrabold.ttf); }

html {
  font-size: 62.5%; }

.admin-menu {
  background: #2f3b4f;
  line-height: 2rem;
  padding: 1rem; }

.admin-menu a, .admin-menu a:active, .admin-menu a:focus, .admin-menu a:hover {
  text-decoration: none;
  display: block; }

.menu-section-title {
  margin-top: 2rem;
  color: #46bfa9; }

.red {
  color: #ef3824;
  font-weight: bold; }

.brown-button {
  background-color: #b5780b; }

.red-button {
  background-color: #ef3824; }

.admin-button {
  margin: 1%;
  padding: 1.5rem 4.5rem; }

span {
  text-color: #212d3f; }
