@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
.lateralMenuLeft, .lateralMenuRight, .menuTools {
  /* common properties */
  background-color: #222d3c; }

.lateralMenuLeft {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  display: inline-block; }

.lateralMenuLeft a {
  text-decoration: none; }

.lateralMenuRight {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.lateralMenuAvatar {
  background-image: url("../images/LineAboveAvatar.svg");
  background-size: 100%;
  background-position-x: 0rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  width: auto;
  position: relative; }

.avatarMenu {
  text-align: center;
  width: 60%;
  display: inline-block;
  margin-top: 0rem;
  position: relative; }

.planet {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 40px;
  left: 70px; }

.menuTools {
  /* style and properties */
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  margin-top: 1rem;
  display: inline-block;
  text-align: center;
  text-decoration: none; }

.menuTools a {
  /* style and properties for links (a) in menuTools */
  text-decoration: none; }
