@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@font-face {
  font-family: earthOrbiter-font;
  src: url(earthorbiterxtrabold.ttf); }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  background: #0f1a28;
  color: #e7e8e8; }

h1, h2, h3, h4, h5, h6 {
  font-family: earthOrbiter-font;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  color: #46bfa9;
  text-transform: uppercase;
  text-align: center; }

a {
  color: #e7e8e8;
  text-decoration: underline; }
  a:hover {
    color: #46bfa9; }

form label {
  display: block;
  margin-bottom: 0;
  display: inline-block;
  min-width: 19%;
  text-align: right;
  padding: 0 4%; }

form input {
  background: #303b4c;
  border: none;
  padding: 1% 2%;
  outline: 0;
  display: inline-block;
  width: 80%; }

form .field {
  text-align: right;
  padding: 1% 0; }
  form .field button {
    margin: 0 0 0 2%;
    padding: 1% 5%; }

.center > * {
  text-align: center; }

button {
  background: #46bfa9;
  border: none;
  padding: 1% 2%;
  outline: 0;
  display: inline-block; }
  button:hover {
    background: #349994; }

.login > .row {
  padding: 2% 3%; }
  .login > .row .col-sm-4 {
    border-right: 1px solid #46bfa9; }

input.button-add {
  background-image: url(/images/fuseeFirstPage.png);
  /* 16px x 16px */
  background-color: transparent;
  /* make the button transparent */
  background-repeat: no-repeat;
  /* make the background image appear only once */
  background-position: 0px 0px;
  /* equivalent to 'top left' */
  border: none;
  /* assuming we don't want any borders */
  cursor: pointer;
  /* make the cursor like hovering over an <a> element */
  height: 16px;
  /* make this the size of your image */
  padding-left: 16px;
  /* make text start to the right of the image */
  vertical-align: middle;
  /* align the text vertically centered */ }

@media screen and (min-width: 1200px) {
  .container-fluid {
    width: 1170px; } }
