@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@font-face {
  font-family: earthOrbiter-font;
  src: url(earthorbiterxtrabold.ttf); }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}

.item {
  -webkit-box-flex: 1 200px;
  -moz-box-flex: 1 200px;
  -webkit-flex: 1 200px;
  -ms-flex: 1 200px;
  flex: 1 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

.container-colored {
  background: #212d3f;
  margin: 0rem 0rem 1rem 0rem;
  padding: 1rem; 
}

.relative {
  position: relative; }

.top-right, .bottom-right {
  position: absolute;
  right: 1rem;
  color: #cdcccc; }

.friend-list {
  flex-flow: row wrap;
  background: none; }
  .friend-list .item {
    flex-grow: 0;
    background: #2f3b4f;
    margin: 1rem; }
  .friend-list img {
    width: 100%;
    padding: 1rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px; }

.top-right {
  top: 1rem; }

.bottom-right {
  bottom: 1rem; }


/* .container-fluid{
  background:$articles-background;
} */
.welcome-on-board {
  padding: 2rem;
  font-size: 13px;
  font-size: 1.3rem; }
  .welcome-on-board .row {
    margin: 1rem 5rem; }
  .welcome-on-board .row:nth-child(2) {
    margin: 4rem 0; }
  .welcome-on-board .title > div {
    display: inline-block; }
  .welcome-on-board .title > div:first-child {
    font-size: 50px;
    font-size: 5rem; }
  .welcome-on-board .title > div:last-child {
    position: absolute;
    font-size: 20px;
    font-size: 2rem;
    padding: 1rem; }
  .welcome-on-board .slider {
    opacity: 0.2; }

#app {
  background: #0f1928; }

.text-center {
  text-align: center; }

body {
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  background: #0f1928;
  color: #e7e8e8; }

h1, h2, h3, h4, h5, h6 {
  font-family: earthOrbiter-font;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  color: #46bfa9;
  text-transform: uppercase;
  text-align: center; }

.left > * {
  text-align: left; }

.right {
  text-align: right; }

a {
  color: #e7e8e8;
  text-decoration: underline; }
  a:hover {
    color: #46bfa9;
    background-color: none; }

.button-field {
  margin-top: 1rem; }

form label {
  display: block;
  margin-bottom: 0;
  display: inline-block;
  min-width: 19%;
  text-align: right;
  padding: 0 4%; }

form input, form textarea {
  background: #2f3b4f;
  border: none;
  padding: 0.5rem 1.5rem;
  outline: 0;
  display: inline-block;
  width: 80%; }

form .field {
  text-align: right;
  padding: 1% 0; }
  form .field button {
    margin: 0 0 0 2%;
    padding: 1rem 3rem; }
    form .field button .img-rocket {
      width: 3em;
      position: absolute;
      right: 0em; }

form textarea {
  width: 100%;
  resize: none; }

button {
  background: #46bfa9;
  border: none;
  padding: 0.5rem 1.5rem;
  outline: 0;
  display: inline-block; }
  button:hover {
    background: #349994; }

.login > .row {
  padding: 2% 3%; }
  .login > .row .col-sm-4 {
    border-right: 1px solid #46bfa9; }

small {
  font-weight: lighter;
  font-size: 10px;
  font-size: 1rem; }

/* .content-block {
  margin: 0% 0% 0% 100px;
} */
.post {
  background-color: #212d3f;
  padding: 2%;
  margin-bottom: 2%; }

.pseudo {
  margin: 0px 1px 0.5px 2px; }

.connect-buttons {
  text-align: right; }

.contain-img {
  width: 4em; }
  .contain-img img {
    width: 100%;
    height: 100%; }

.avatar {
  max-height: 6rem;
  /*   padding-right:0; */
  text-align: center; }
  .avatar img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: auto;
    height: inherit; }

.comment {
  background: #2f3b4f;
  margin-top: 2%;
  max-height: 8em; }
  .comment .col-sm-1 {
    padding: 1%; }
  .comment button {
    margin-top: 1em; }
  .comment textarea {
    padding-left: 0; }

/* @media screen and (min-width: 1200px) {
  .container-fluid {
<<<<<<< HEAD
    width: 1170px;
  }
} */

nav .navbar-brand {
  font-family: earthOrbiter-font;
  text-decoration: none; }

nav .navbar-brand:hover {
  background-color: none; }

nav ul {
  padding: 0 1em;
  width: 100%;
  background-color: #212d3f;
  color: #e7e8e8;
  display: block; }
  nav ul li .nav-link, nav ul li .nav-item {
    display: inline-block;
    text-decoration: none;
    background: none; }
    nav ul li .nav-link:hover, nav ul li .nav-item:hover {
      text-decoration: none;
      background: none; }
    nav ul li .nav-link:active, nav ul li .nav-item:active {
      text-decoration: none;
      background: none; }
    nav ul li .nav-link:focus, nav ul li .nav-item:focus {
      text-decoration: none;
      background: none; }
  nav ul li img {
    width: 2em;
    height: auto; }

nav ul li.navbar-right .nav-responsive {
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer; }

@media screen and (max-width: 800px) {
  nav ul li.navbar-right .nav-item, nav ul li.navbar-right menu-separator {
    display: none; }
  nav ul li.navbar-right .nav-responsive {
    display: inline-block; } }

@media screen and (min-width: 801px) {
  nav ul li.navbar-right .nav-item, nav ul li.navbar-right menu-separator {
    display: inline-block; }
  nav ul li.navbar-right .nav-responsive {
    display: none; } }

menu-separator {
  vertical-align: middle;
  height: 1em;
  border: 0.2px solid #e7e8e8;
  margin: 0 1.3em; }

>>>>>>> welcomeOnBoard
.like-icon:hover {
  background-image: url("../images/LikeFull.svg");
  background-size: 100%; }

.square {
  height: 13rem;
  width: 13rem;
  background-color: #cdcccc;
  margin: 1rem auto; }
