@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@font-face {
  font-family: earthOrbiter-font;
  src: url(earthorbiterxtrabold.ttf); }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%; }

#app {
  background: #0f1a28; }

.nav {
  margin: 0px;
  position: fixed;
  top: 0;
  z-index: 1; }
  .nav input, .nav form textarea, form .nav textarea {
    border: none;
    padding: 0.9rem; }
  .nav input.nav-item, .nav form textarea.nav-item, form .nav textarea.nav-item {
    background: #0f1a28; }
  .nav input.nav-search-icon, .nav form textarea.nav-search-icon, form .nav textarea.nav-search-icon {
    height: 80%;
    width: auto;
    background: none;
    background-image: url("../images/search.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle; }

body {
  font-family: "Roboto", serif;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  background: #0f1a28;
  color: #e7e8e8; }

h1, h2, h3, h4, h5, h6 {
  font-family: earthOrbiter-font;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  color: #46bfa9;
  text-transform: uppercase;
  text-align: center; }

.left > * {
  text-align: left; }

.right {
  text-align: right; }

a {
  color: #e7e8e8;
  text-decoration: underline; }
  a:hover {
    color: #46bfa9;
    background-color: none; }

form label {
  display: block;
  margin-bottom: 0;
  display: inline-block;
  min-width: 19%;
  text-align: right;
  padding: 0 4%; }

form input, form textarea {
  background: #303b4c;
  border: none;
  padding: 0.5rem 1.5rem;
  outline: 0;
  display: inline-block;
  width: 80%; }

form .field {
  text-align: right;
  padding: 1% 0; }
  form .field button {
    margin: 0 0 0 2%;
    padding: 1rem 3rem; }

form textarea {
  width: 100%;
  resize: none; }

button {
  background: #46bfa9;
  border: none;
  padding: 0.5rem 1.5rem;
  outline: 0;
  display: inline-block; }
  button:hover {
    background: #349994; }

.login > .row {
  padding: 2% 3%; }
  .login > .row .col-sm-4 {
    border-right: 1px solid #46bfa9; }

small {
  font-weight: lighter;
  font-size: 10px;
  font-size: 1rem; }

/* .content-block {
  margin: 0% 0% 0% 100px;
} */
.post {
  background-color: #222d3c;
  padding: 2%;
  margin: 2%; }

.pseudo {
  margin: 0px 1px 0.5px 2px; }

.connect-buttons {
  text-align: right; }

.contain-img {
  width: 4em; }
  .contain-img img {
    width: 100%;
    height: 100%; }

.avatar {
  height: 70px;
  width: 70px;
  margin: 0px; }
  .avatar img {
    border-radius: 1;
    -webkit-border-radius: 1;
    -moz-border-radius: 1; }

.comment {
  background: #303b4c;
  margin-top: 2%;
  max-height: 8em; }
  .comment .col-sm-1 {
    padding: 1%; }
  .comment button {
    margin-top: 1em; }
  .comment textarea {
    padding-left: 0; }

@media screen and (min-width: 1200px) {
  .container-fluid {
    width: 1170px; } }

nav .navbar-brand {
  font-family: earthOrbiter-font;
  text-decoration: none; }

nav .navbar-brand:hover {
  background-color: none; }

nav ul {
  padding: 0 1em;
  width: 100%;
  background-color: #222d3c;
  color: #e7e8e8;
  display: block; }
  nav ul li .nav-link, nav ul li .nav-item {
    display: inline-block;
    text-decoration: none;
    background: none; }
    nav ul li .nav-link:hover, nav ul li .nav-item:hover {
      text-decoration: none;
      background: none; }
    nav ul li .nav-link:active, nav ul li .nav-item:active {
      text-decoration: none;
      background: none; }
    nav ul li .nav-link:focus, nav ul li .nav-item:focus {
      text-decoration: none;
      background: none; }
  nav ul li img {
    width: 2em;
    height: auto; }

nav ul li.navbar-right .nav-responsive {
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer; }

@media screen and (max-width: 800px) {
  nav ul li.navbar-right .nav-item, nav ul li.navbar-right menu-separator {
    display: none; }
  nav ul li.navbar-right .nav-responsive {
    display: inline-block; } }

@media screen and (min-width: 801px) {
  nav ul li.navbar-right .nav-item, nav ul li.navbar-right menu-separator {
    display: inline-block; }
  nav ul li.navbar-right .nav-responsive {
    display: none; } }

menu-separator {
  vertical-align: middle;
  height: 1em;
  border: 0.2px solid #e7e8e8;
  margin: 0 1.3em; }

.like-icon:hover {
  background-image: url("../images/LikeFull.svg");
  background-size: 100%; }

.login .field button {
  padding: 0.8em 5em; }

.img-rocket {
  width: 3em;
  position: relative;
  right: -6em;
  margin-top: -2em;
  margin-bottom: -2em;
  margin-left: -4em; }
