<div class="stat">
  <div class="row center-row no-gutters">  
    <div class="col-sm-4 pink text-center">
      <p class="inline"><span class="fat"> {{ user.nbFriends}} </span> </p>
      <p class="inline left"> amis dans <br>
          <span v-if="user.myself">ton escouade </span> 
          <span v-else >son escouade </span>
      </p>
    </div>  
    <div class="col-sm-4 pink text-center">
      <span class="fat inline"> {{ user.nbRiddleSolved }} </span>
      <p v-if="user.nbRiddleSolved > 1" class="inline center"> énigmes résolues </p>
      <p v-else class="inline center"> énigme résolue</p>
    </div>
      <div class="col-sm-4 pink text-center">
      <span class="fat inline"> {{ user.interests.length }} </span>
      <p  class="inline center"v-if="user.interests.length > 1"> centres d'intérêts </p>
      <p class="inline center" v-else> centre d'intérêt </p>
    </div>
  </div>
  <span class="h-separator center"></span>
  <div class="row interests">
      <p class="interest p col-sm-2 center" v-for="(interest, index) in user.interests" v-if="index < start">
       {{interest}} 
      </p>
      <div class="col-sm-2 center see-more pseudo-button" v-on:click="showMore" v-if=" start == 5"> <small class="center"> + </small> Voir plus </div>
      <div class="col-sm-2 center see-more pseudo-button" v-on:click="showLess" v-else> <small class="center"> - </small> Voir moins</div>
  </div>
  <span class="h-separator center"></span>
  
</div>
    <!--  <div class="row">
      <div class="col-sm-12">
        <h1 class="text-left">Dernier titre débloqué</h1>
        <p> {{ user.userBadge}} </p>
      </div>
    </div>
    <a href="" class="top-right">Masquer</a>
    <a href="" class="bottom-right">Voir toutes les récompenses obtenues</a>   -->
