
<div class="container-fluid welcome-on-board container-colored center">
  <div class="row title">
    <div> {{ questions[current].number }}.</div>  
    <div> {{ questions[current].title }} </div>
  </div>
  <div class="row">
    <ul class="wrapper">
      <li class="item" v-on:click="selected(0)">
        <img :src="questions[current].answer[0].image" class="square">
        <div class="text-center">{{ questions[current].answer[0].text }} </div>
      </li>
      <li class="item" v-on:click="selected(1)">
         <img :src="questions[current].answer[1].image" class="square"> 
        <div class="text-center">{{ questions[current].answer[1].text }} </div> 
      </li>
      <li class="item" v-on:click="selected(2)">
       <img :src="questions[current].answer[2].image" class="square"> 
       <div class="text-center">{{ questions[current].answer[2].text }}</div> 
     </li>
     <li class="item" v-on:click="selected(3)">
        <img :src="questions[current].answer[3].image" class="square"> 
       <div class="text-center">{{ questions[current].answer[3].text }}</div>  
     </li>
     <li class="item" v-on:click="selected(4)">
       <img :src="questions[current].answer[4].image" class="square"> 
      <div class="text-center">{{ questions[current].answer[4].text }}</div> 
    </li>
  </ul>
</div>
<div class="row slider">
  <input type="range" v-model.number="current" min="0" :max="nbQuestions - 1" step="1"> </input>
</div>
<div class="row"> 
  <button v-on:click="decrement"> Question précedente {{current}}</button>
  <button v-on:click="increment" v-if="!finish"> Question suivante </button>
  <button v-on:click="submit" v-else> Submit </button>
  <p>
    {{current}}
  </p>
</div>
<pre> {{ answers }} </pre>
</div>