<div id="home">
<div class="container-fluid welcome-on-board" v-if="current < nbQuestions">
  <div class="container-transparent">
    <div class="row title">
      <div> {{ questions[current].number }}.</div>  
      <div> {{ questions[current].title }} </div>
    </div>
    <div class="row">
      <ul>
        <li class="col-md-2 col-md-offset-1" v-on:click="selected(0)">
          <img :src="questions[current].answer[0].image" class="square">
          <div class="text-center">{{ questions[current].answer[0].text }} </div>
        </li>
        <li class="col-md-2" v-on:click="selected(1)">
           <img :src="questions[current].answer[1].image" class="square"> 
          <div class="text-center">{{ questions[current].answer[1].text }} </div> 
        </li>
        <li class="col-md-2" v-on:click="selected(2)">
         <img :src="questions[current].answer[2].image" class="square"> 
         <div class="text-center">{{ questions[current].answer[2].text }}</div> 
       </li>
       <li class="col-md-2" v-on:click="selected(3)">
          <img :src="questions[current].answer[3].image" class="square"> 
         <div class="text-center">{{ questions[current].answer[3].text }}</div>  
       </li>
       <li class="col-md-2" v-on:click="selected(4)" >
         <img :src="questions[current].answer[4].image" class="square"> 
        <div class="text-center">{{ questions[current].answer[4].text }}</div> 
      </li>
    </ul>
    </div>
    <div class="row slider">
      <input type="range" v-model.number="current" min="0" :max="nbQuestions - 1" step="1" class="col-sm-10 "> </input>
    </div>
  </div>
  <div class="row align-items-start"> 
      <div v-on:click="decrement" class="col-sm-3 col-sm-offset-1"> <img src="../assets/images/fleche-gauche.svg">Revenir en arrière </div>
      <div class="col-sm-4">
         <div class="col-sm-2" v-for="(validate, index) in answerValidate">
          <div class="circle" v-bind:class="{ fullCircle : validate}" v-on:click="backToQuestion(index)"> </div>
       </div>
       </div>
      <div v-on:click="increment" v-if="!finish" class="col-sm-4"> Passer la question <img src="../assets/images/fleche-droite.svg"></div>
      <div v-on:click="submit" class="col-sm-3 align-self-end" v-else > Submit  <img src="../assets/images/fleche-droite.svg"></div>
    </div>
</div>
<div class="container-fluid welcome-on-board border-planet" v-else>
  <div class="container-transparent">
    <div class="row no-gutter">
      <div class="col-sm-6">
        <img src="../assets/images/P1.svg" alt="planet" class="center">
        <h1> CHAKRA </h1>
      </div>
      <div class="col-sm-6">
        <p>La Terre… Ce nom vous semble peut-être familière, mais la connaissez vous vraiment ? Depuis la démocratisation des voyages intersidéraux on y est plus à son aise ! Finis les embouteillages, les métropoles polluées et les files d’attentes aux supermarchés. Maintenant on peut vivre où on le souhaite, plus de loyers à payer. S’endormir en Alaska, admirant une aurore boréale et le lendemain, remettre ça face aux ruines magnifiques de Buenos Aires est devenu chose commune. </p>
        <router-link to="/actualites">Explorer! </router-link>
      </div>
    </div>
  </div>
</div>
</div>

