<div id="home">
<div class="container-fluid welcome-on-board" v-if="welcomeData.current < welcomeData.nbQuestions">
  <div class="container-transparent">
    <div class="row title">
      <div> {{ welcomeData.questions[welcomeData.current].number }}.</div>  
      <div> {{ welcomeData.questions[welcomeData.current].title }} </div>
    </div>
    <div class="row">
      <ul>
        <li class="col-md-2 col-md-offset-1" v-on:click="selected(0)">
          <img :src="welcomeData.questions[welcomeData.current].answer[0].image" class="square">
          <div class="text-center">{{ welcomeData.questions[welcomeData.current].answer[0].text }} </div>
        </li>
        <li class="col-md-2" v-on:click="selected(1)">
           <img :src="welcomeData.questions[welcomeData.current].answer[1].image" class="square"> 
          <div class="text-center">{{ welcomeData.questions[welcomeData.current].answer[1].text }} </div> 
        </li>
        <li class="col-md-2" v-on:click="selected(2)">
         <img :src="welcomeData.questions[welcomeData.current].answer[2].image" class="square"> 
         <div class="text-center">{{ welcomeData.questions[welcomeData.current].answer[2].text }}</div> 
       </li>
       <li class="col-md-2" v-on:click="selected(3)">
          <img :src="welcomeData.questions[welcomeData.current].answer[3].image" class="square"> 
         <div class="text-center">{{ welcomeData.questions[welcomeData.current].answer[3].text }}</div>  
       </li>
       <li class="col-md-2" v-on:click="selected(4)" >
         <img :src="welcomeData.questions[welcomeData.current].answer[4].image" class="square"> 
        <div class="text-center">{{ welcomeData.questions[welcomeData.current].answer[4].text }}</div> 
      </li>
    </ul>
    </div>
    <div class="row slider">
      <input type="range" v-model.number="welcomeData.current" min="0" :max="welcomeData.nbQuestions - 1" step="1" class="col-sm-10 "> </input>
    </div>
  </div>
  <div class="row align-items-start"> 
      <div v-on:click="decrement" class="col-sm-3 col-sm-offset-1"> <img src="../assets/images/fleche-gauche.svg">Revenir en arrière </div>
      <div class="col-sm-4">
         <div class="col-sm-2" v-for="(validate, index) in welcomeData.answerValidate">
          <div class="circle" v-bind:class="{ fullCircle : validate}" v-on:click="backToQuestion(index)"> </div>
       </div>
       </div>
      <div v-on:click="increment" v-if="!welcomeData.finish" class="col-sm-4"> Passer la question <img src="../assets/images/fleche-droite.svg"></div>
      <div v-on:click="submit" class="col-sm-3 align-self-end" v-else > Submit  <img src="../assets/images/fleche-droite.svg"></div>
    </div>
</div>
<div class="container-fluid welcome-on-board border-planet" v-else>
  <div class="container-transparent">
    <div class="row no-gutter">
      <div class="col-sm-6">
        <img :src="welcomeData.planetInfo[welcomeData.planetUser].img" alt="planet" class="center">
        <h1> {{ welcomeData.planetInfo[welcomeData.planetUser].name }}</h1>
      </div>
      <div class="col-sm-6">
        <p> {{ welcomeData.planetInfo[welcomeData.planetUser].info }} </p>
        <router-link to="/actualites">Explorer! </router-link>
      </div>
    </div>
  </div>
</div>
<pre> {{ welcomeData.answers }} </pre>
</div>

