<div>
  <navbar></navbar>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-3 col-md-3 col-lg-2">
        <lateral-menu-left></lateral-menu-left>
        <deconnexion class="desktop"></deconnexion>
        <menu-tools class="desktop"></menu-tools>
      </aside>
      <section class="article col-sm-9 col-md-9 col-lg-8 container-transparent">
        <create-post></create-post>
        <page-nav></page-nav>
        <div v-for="post in posts">
          <post :post="post"></post>
        </div>
        <page-nav></page-nav>
      </section>
      <div class="col-lg-2">
         <lateral-menu-right></lateral-menu-right>
      </div>

      <menu-tools class="mobile"></menu-tools>

    </div>
  </div>
</div>