<div>
<navbar></navbar>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-2">
        <lateral-menu-left></lateral-menu-left>
        <menu-tools></menu-tools>
      </aside>
      <section class="article col-sm-8">
        <create-post></create-post>
        <page-nav></page-nav>
        <div v-for="post in posts">
        <post :post="post"></post>
        <div>
      </section>
      <div class="col-sm-2">
         <lateral-menu-right></lateral-menu-right>
      </div>

    </div>
  </div>
</div>