  <div class="navbar">
    <ul class="nav navbar-nav">
      <li class="navbar-left">
        <router-link to="/actualites" class="navbar-brand"> Friendship<br/>Troopers</router-link>
        <menu-separator></menu-separator>
        <router-link to="/actualites" class="nav-item nav-link nav-home"> Accueil </router-link>
        <router-link :to="{ name: 'Enigme', params: { user: pseudo }}" class="nav-item nav-link nav-enigmes"> Énigmes </router-link>
      </li>

      <li class="navbar-right">
        <input type ="text" class="nav-item" placeholder="Recherche" value =""></input>
        <input type="submit" class="nav-item nav-search-icon" value=""></input>
        
        <menu-separator></menu-separator>
        
        <div class="nav-item nav-icon">
          <div class="friends-icon" v-on:click="showSubMenu(1)">
            <p v-if="friends.length > 99" class="notif">99+</p> 
            <p v-else-if="friends.length > 0" class="notif"> {{ friends.length }} </p> 
          </div>

          <div v-if="subMenu == 1" class="sub-menu menu-friends"> 
            <div class ="sub-menu-triangle"></div>
            <p v-if = "friends.length > 0"> Mes demandes d'amis</p>
            <p v-else>Pas de nouvelles demandes d'ami</p>

            <div class="separator"> </div>
            <ul class="list" v-if = "friends.length > 0">
              <friend-item v-for="item in friends" v-bind:friend="item"></friend-item>
            </ul>
            <div  v-if = "friends.length > 0" class="separator"></div>

            <p> <router-link :to="{ name: 'Friends', params: { user: pseudo }}"> Voir tous les amis</router-link></p>
          </div>
        </div>

        <div class="nav-item nav-icon">
          <div class="messages-icon" v-on:click="showSubMenu(2)">
            <p v-if="messages.length > 99" class="notif">99+</p>
            <p v-else-if="messages.length > 0" class="notif"> {{ messages.length }}</p>
          </div>

          <div v-if="subMenu == 2" class="sub-menu menu-messages"> 
            <div class ="sub-menu-triangle"></div>
            <p v-if = "messages.length > 0">Mes messages</p>
            <p v-else>Pas de nouveaux messages</p>

            <div class="separator"> </div>
            <ul class="list" v-if = "messages.length > 0">
              <message-item v-for="item in messages" v-bind:message="item"></message-item>
            </ul>
            <div  v-if = "messages.length > 0" class="separator"></div>

            <p> <a href ="/messagerie">Accéder à ma messagerie</a></p>

          </div> 
        </div>
        

        <div class="nav-item nav-icon">
          <div class="notifications-icon" v-on:click="showSubMenu(3)">
            <p v-if="notifications.length > 99" class="notif">99+</p> 
            <p v-else-if="notifications.length > 0" class="notif"> {{ notifications.length }}</p> 
          </div>

          <div v-if="subMenu == 3" class="sub-menu menu-notifications"> 
            <div class ="sub-menu-triangle"></div>

            <p v-if = "notifications.length > 0">Tableau de bord</p>
            <p v-else>Rien de nouveau à signaler</p>

            <div class="separator"> </div>
            <ul class="list" v-if = "notifications.length > 0">
              <notification-item v-for="item in notifications" v-bind:notification="item"></notification-item>
            </ul>
            <div  v-if = "notifications.length > 0" class="separator"></div>

          </div> 
     
        </div>


        <menu-separator></menu-separator>
        <router-link :to="{ name: 'User', params: { user: pseudo }}" class="nav-item nav-link nav-profil"> Mon profil </router-link>

      </li>
    </ul>
  </div>
