  <div class="navbar">
    <ul class="nav navbar-nav">
      <li class="search-responsive">
        <div v-if="search">
          <input type ="text" class="nav-item" placeholder="Recherche" value =""></input>
          <img src="/assets/images/validation.svg" alt="valider" title="Valider">
          <img v-on:click="showSearch()" src="/assets/images/Cross.svg"  alt="fermer" title="Fermer">
        </div>
      </li>

      <li class="navbar-left">
        <router-link to="/actualites" class="navbar-brand"> <p class="desktop small-desktop"> Friendship<br/>Troopers</p> <p class="mobile"> FT </p> </router-link>
        <div class="menu-separator"></div>
        <router-link to="/actualites" class="nav-item nav-link nav-home desktop"> Accueil </router-link>
        <router-link :to="{ name: 'Enigme', params: { user: pseudo }}" class="nav-item nav-link nav-enigmes"> Énigmes </router-link>
      </li>

      <li class="navbar-right">
        <input type ="text" class="nav-item desktop" placeholder="Recherche" value =""></input>
        <input type="submit" class="nav-item nav-search-icon desktop" value=""></input>
        <div v-on:click="showSearch()" class="nav-item nav-icon mobile small-desktop">
          <img src="/assets/images/search.svg" alt="recherche" title="Effectuer une recherche">
        </div>
        
        <div class="menu-separator"></div>
        
        <div class="nav-item nav-icon">
          <div class="friends-icon" v-on:click="showSubMenu(1)" title="Mes demandes d'amis">
            <p v-if="friends.length > 99" class="notif">99+</p> 
            <p v-else-if="friends.length > 0" class="notif"> {{ friends.length }} </p> 
          </div>

          <div v-if="subMenu == 1" class="sub-menu menu-friends"> 
            <div class ="sub-menu-triangle"></div>
            <p class="sub-menu-header" v-if = "friends.length > 0"> Mes demandes d'amis</p>
            <p class="sub-menu-header" v-else>Pas de nouvelles demandes d'ami</p>

            <div class="separator"> </div>
          <!--   <ul class="list" v-if = "friends.length > 0">
              <friend-item v-for="item in friends" v-bind:friend="item"></friend-item>
            </ul> -->
            <ul class="list" v-if = "friends.length > 0" v-for="friend in friends">
              <friends :friend="friend"></friends>
            </ul>
            <div  v-if = "friends.length > 0" class="separator"></div>

            <p class="sub-menu-footer"> <router-link :to="{ name: 'Friends', params: { user: pseudo }}"> Voir tous mes amis</router-link></p>
          </div>
        </div>

        <div class="nav-item nav-icon">
          <div class="messages-icon" v-on:click="showSubMenu(2)" title="Mes nouveaux messages">
            <p v-if="messages.length > 99" class="notif">99+</p>
            <p v-else-if="messages.length > 0" class="notif"> {{ messages.length }}</p>
          </div>

          <div v-if="subMenu == 2" class="sub-menu menu-messages"> 
            <div class ="sub-menu-triangle"></div>
            <p class="sub-menu-header" v-if = "messages.length > 0">Mes messages</p>
            <p class="sub-menu-header" v-else>Pas de nouveaux messages</p>

            <div class="separator"> </div>
            <ul class="list" v-if = "messages.length > 0" v-for="message in messages">
              <messages :message="message"></messages>
            </ul>
            <div  v-if = "messages.length > 0" class="separator"></div>

            <p class="sub-menu-footer"> <a href ="/messagerie">Accéder à ma messagerie</a></p>

          </div> 
        </div>
        

        <div class="nav-item nav-icon">
          <div class="notifications-icon nav-icon" v-on:click="showSubMenu(3)" title="Mon tableau de bord">
            <p v-if="notifications.length > 99" class="notif">99+</p> 
            <p v-else-if="notifications.length > 0" class="notif"> {{ notifications.length }}</p> 
          </div>

          <div v-if="subMenu == 3" class="sub-menu menu-notifications"> 
            <div class ="sub-menu-triangle"></div>

            <p class="sub-menu-header" v-if = "notifications.length > 0">Tableau de bord</p>
            <p class="sub-menu-header" v-else>Rien de nouveau à signaler</p>

            <div class="separator"> </div>
            <ul class="list" v-if = "notifications.length > 0" v-for="notification in notifications">
              <notifications :notification="notification"></notifications>
            </ul>
            <div  v-if = "notifications.length > 0" class="separator"></div>

          </div> 
     
        </div>


        <div class="menu-separator"></div>
        <router-link :to="{ name: 'User', params: { user: pseudo }}" class="nav-item nav-link nav-profil"> <p class="desktop"> Mon profil</p> <img class="small-desktop mobile nav-avatar" :src=avatar alt="Mon profil" title="Mon profil"> </router-link>
        <div class="mobile"> <div class="menu-separator"></div> <img src=/assets/images/deconnexion.svg alt="Déconnexion" title="Déconnexion"></div>


      </li>
    </ul>
  </div>
