<div class="container col-sm-12">
  
  <div class="lateralMenuLeft">

  <router-link :to="{ name: 'User', params: { user: user.username }}">
    <div class="lateralMenuAvatar">
      <img :src="user.userAvatar" alt="your avatar" title="mon profil" class="avatarMenu">
      <img :src="user.userPlanet.path" alt="your planet" class="planetMenu">
    </div>
  </router-link>

    <h1 class:user.userPlanet.name> {{ user.username }} </h1>
    <p class="honor"> {{ user.userHonor }} </p>

    <p class="enigmes"> Enigmes </p>

      <router-link :to="{ name: 'EnigmeCurrent', params: { user: user.username }}"> Résoudre l'énigme en cours </router-link> <br/>
      <router-link :to="{ name: 'EnigmeResolved', params: { user: user.username }}"> Voir la liste des énigmes résolues </router-link>

    <p class="friends"> Amis </p>
      <router-link :to="{ name: 'Friends', params: { user: user.username }}"> Voir tous mes amis </router-link> <br>
      <router-link :to="{ name: 'Messages', params: { user: user.username }}"> Accéder à la messagerie </router-link> <br>

      <div v-if="user.lastFriends.length > 0" class="lastFriends">
        <p> Derniers compagnons : </p>
        <ul>
          <li v-for="friend in user.lastFriends">
            <router-link :to="{ name: 'User', params: { user: friend.name }}"> <img :src="friend.avatar" :alt="friend.name" :title="friend.name"></router-link> 
          </li>
        </ul>
      </div> 
    </div>

<!--  

  <div class="menuTools">

      <router-link to="/mentions-legales" class=""> Mentions légales </router-link> -
      <router-link to="/aide" class=""> Aide </router-link> -
      <router-link to="/problems" class=""> Signaler un problème </router-link> -
      <router-link to="/a-propos" class=""> À propos </router-link> -
      <router-link to="/FAQ" class=""> FAQ </router-link>

  </div> -->
</div>