<div class="container col-sm-12">
  
  <div class="lateralMenuLeft">

  <router-link :to="{ name: 'User', params: { user: user.username, userId: user.id }}">
    <div class="lateralMenuAvatar">
      <img :src="imagePath" alt="your avatar" title="mon profil" class="avatarMenu">
     <!--<img :src="user.userPlanet.path" alt="your planet" class="planetMenu">-->
    </div>
  </router-link>

    <h1 :class="user.name"> {{ user.username }} </h1>
    <p class="honor"> {{ user.honorificTitle }} </p>
    <p class="enigmes"> Enigmes </p>

      <router-link class="sublink" :to="{ name: 'EnigmeCurrent', params: { user: user.username }}"> Résoudre l'énigme en cours </router-link> <br/>
      <router-link class="sublink" :to="{ name: 'EnigmeResolved', params: { user: user.username }}"> Voir la liste des énigmes résolues </router-link>

    <p class="friends"> Amis </p>
      <router-link class="sublink" :to="{ name: 'Friends', params: { user: user.username }}"> Voir tous mes amis </router-link> <br>
      <router-link class="sublink" :to="{ name: 'Chat', params: { user: user.username }}"> Accéder à la messagerie </router-link> <br>

    </div>
</div>