<div class="container col-sm-12">
  
  <div class="lateralMenuLeft">
    <div class="lateralMenuAvatar">

      <img :src="user.userAvatar" alt="your avatar" class="avatar">
      <!-- <img :src="user.userPlanet.path" alt="your planet" class="planet"> -->
      <h1> {{ user.username }} </h1> <br>
      <p> {{ user.userBadge}} </p>

   </div>
  <div class="enigmes">
    <h1> Enigmes </h1>
    <a href="#"> Résoudre l'énigme en cours </a> <br>
    <a href="#"> Voir la liste des enigmes </a> 
  </div>
  <div class="amis">
    <h1> Amis </h1>
    <a href="#"> Voir tous mes amis </a> <br>
    <a href="#"> Accéder à la messagerie </a>
    <div class="lastFriends">
      <p> Derniers compagnons </p>
      <ul>
        <li v-for="friend in user.lastFriends">
          <img :src="friend.avatar" :alt="friend.name">
        </li>
      </ul>
    </div> 
    </div>
  </div>

<div class="menu-deconnexion">
    <p class="pseudo-button" v-on:click="deconnect">Déconnexion</p>
</div>

<div class="menuTools">

    <router-link to="/mentions-legales" class=""> Mentions legales </router-link>

</div>
</div>