<div class="text-center option-bar">
    <ul class="wrapper user" v-if="myself">
      <li class="item pseudo-button ">
      <router-link to="/page-to-come">
        <p class="colored"><img src="/assets/images/Friends.svg">
        Obtenir des récompenses</p>
        </router-link>
      </li>
      <li class="item pseudo-button ">
        <router-link to="/me/parametres"> 
        <p class="colored"> <img src="/assets/images/store.svg"> Modifier mes informations</p></router-link>
      </li>
      <li class="item pseudo-button ">
         <router-link to="/page-to-come"> 
        <p class="colored"><img src="/assets/images/enigmes/abandon.svg">
        Supprimer mon compte</p>
        </router-link>

      </li>
    </ul>

    <ul class="wrapper text-center" v-else>
      <li class="item  pseudo-button" v-on:click="addFriend">
        <p class="colored">
           <img src="/assets/images/Friends.svg">
           Ajouter à mes amis</p>
      </li>
      <li class="item pseudo-button ">
        <p class="colored">
           <img src="/assets/images/Messages.svg">
           Envoyer un message</p>
      </li>
      <li class="item pseudo-button ">
      <router-link to="/page-to-come"> 
        <p class="colored"> 
           <img src="/assets/images/Signaler.svg">
           Signalement</p>
           </router-link>

      </li>
    </ul>
  </div>