<div>
    <ul class="wrapper" v-if="myself">
      <li class="item container-colored">
        <img src="../assets/Friends.svg">
        <p> Debloquer des récompenses </p>
      </li>
      <li class="item container-colored">
        <img src="../assets/Messages.svg">
        <router-link to="/utilisateur/parametres"> Modifier mes informations</router-link>
      </li>
      <li class="item container-colored">
        <p> Autres actions </p>
      </li>
    </ul>
    <ul class="wrapper" v-else>
      <li class="item container-colored">
        <img src="../assets/Friends.svg">
        <p> Ajouter à mes amis </p>
      </li>
      <li class="item container-colored">
        <img src="../assets/Messages.svg">
        <p> Envoyer un message </p>
      </li>
      <li class="item container-colored">
        <p> Autres actions </p>
      </li>
    </ul>
  </div>