<div class="text-center option-bar">
    <ul class="row user" v-if="myself">
      <li class="col-sm-4 pseudo-button ">
        <p class="colored"><img src="/assets/images/Friends.svg">
        Obtenir des récompenses</p>
      </li>
      <li class="col-sm-4 pseudo-button ">
        <router-link to="/me/parametres"> 
        <p class="colored"> <img src="/assets/images/store.svg"> Modifier mes informations</p></router-link>
      </li>
      <li class="col-sm-4 pseudo-button ">
        <p class="colored"><img src="/assets/images/enigmes/abandon.svg">
        Supprimer mon compte</p>
      </li>
    </ul>

    <ul class="row text-center" v-else>
      <li class="col-sm-4  pseudo-button ">
        <p class="colored">
           <img src="/assets/images/Friends.svg">
           Ajouter à mes amis</p>
      </li>
      <li class="col-sm-4 pseudo-button ">
        <p class="colored">
           <img src="/assets/images/Messages.svg">
           Envoyer un message</p>
      </li>
      <li class="col-sm-4 pseudo-button ">
        <p class="colored"> 
           <img src="/assets/images/Signaler.svg">
           Signalement</p>
      </li>
    </ul>
  </div>