<form class="form post container-colored" v-on:submit.prevent.stop="">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <p class="subtitle">Modifier votre avatar</p>
          <img class="block center" :src="user.avatar">
          <a class="text-center center" v-on:click="showAvatars">Choisir un nouvel avatar</a>
          <div v-if="imgDiv">
            <ul v-for="option in user.avatarPathTab" class="avatar-list">
              <li>
                <input type="radio" :value="option" v-model="user.avatar">
                <label for=""><img :src="option"></label>
              </li><br>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 center">
          <p class="subtitle">Modifier votre titre</p>
          <select class="center" v-model="user.title">
            <option v-for="option in user.titleTab">
              {{ option }}
            </option>
          </select>
        </div>
      </div>
    </div>
   
    <!-- A Envoyer au back : avatar : {{ user.avatar }}, title : {{ user.title }}  -->
  </form>