<div>
	<not-done></not-done>
	<navbar></navbar>
	<div class="container-fluid">
		<div class="row">
			<aside class="col-sm-3 col-md-3 col-lg-2">
				<lateral-menu-left ref="menu"></lateral-menu-left>
       			<deconnexion class="desktop"></deconnexion>
        		<menu-tools class="desktop"></menu-tools>
			</aside>
			<section id="resolved-riddle" class="riddle col-sm-8 container">
				<div class="row to-current">
					<p class="col-sm-10 left"> Vous avez une énigme en cours </p>
					<router-link :to="{name :'Enigme', params: { user: me.username } }" class="col-sm-2 right"> <button class="green-button"> Voir l'enigme </button> </router-link>
				</div>

				<div class="row container-transparent">
					<div class="row">
						<h1 class="pink title"> Enigmes résolues </h1>
						<div class="stat">
							<div class="row center-row no-gutters">  
								<div class="col-sm-4 pink text-center">
									<p class="inline"><span class="fat"> {{ riddleSolved.length }} </span> </p>
									<p class="inline center" v-if="riddleSolved.length > 2"> enigmes résolues </p>
									<p class="inline center" v-else> enigme résolue </p>
								</div>  
								<div class="col-sm-4 pink text-center">
									<span class="fat inline" v-if="me.points != null"> {{ me.points }} </span>
									<span class="fat inline" v-else> 0 </span>
									<p v-if="me.points > 2" class="inline center"> points gagnés </p>
									<p v-else class="inline center"> point gagné</p>
								</div>
								<div class="col-sm-4 pink text-center">
									<span class="fat inline"> {{ nbBadges }} </span>
									<p  class="inline center" v-if="nbBadges > 2"> badges débloqués </p>
									<p class="inline center" v-else> badge débloqué </p>
								</div>
							</div>
						</div>
					</div>

					<div class="row container-colored" v-for="riddle in riddleSolved">
						<div class="col-sm-12">
							<p><strong> {{ riddle.name}} </strong></p>
							<ul class="row">
								<li class="col-sm-3">
									<img :src="'/assets/images/enigmes/'+ riddle.level +'.svg'" :alt="riddle.level">
									<p>{{ riddle.level }} </p>
								</li>
								<li class="col-sm-3">
									<img :src="'/assets/images/enigmes/'+ riddle.mode +'.svg'" :alt="riddle.mode">
									<p> en {{ riddle.mode }} </p>
								</li>
								<li class="col-sm-3">
									<img :src="'/assets/images/enigmes/Horloge.svg'" alt="date" class="center horloge">
									<p>{{ riddle.date }} </p>
								</li>
								<li class="col-sm-3 text-center points">
									<span class="fat inline"> {{ riddle.points }} </span>
									<p v-if="riddle.points > 2"> points </p>
									<p v-else> points </p>
								</li>
							</ul>
							<span class="border-bottom center"></span>
							<p><strong> Mode de jeu</strong></p>
							<ul class="row justify-content-center">
								<li class="col-sm-3 col-sm-offset-3">  
									<img :src="me.imagePath" alt="avatar">
									<p class="pseudo">{{ me.username }} </p></li> 
									<li class="col-sm-3 pseudo-button" v-for="player in riddle.players"> 
										<router-link :to="{ name: 'User', params: { user: player.username, userId : player.userId}}">
											<img :src="player.imagePath" alt="avatar">
										</router-link>
										<p class="pseudo">{{ player.username }} </p></li> 
									</ul>
						</div>
					</div>

				</div>	
			</section>
			<div class="col-lg-2">
         		<lateral-menu-right></lateral-menu-right>
     		</div>
      	</div>
    </div>
</div>