<div class="legals">
	<navbar></navbar>
	<div class="container-fluid">
	    <div class="row">
  			<div class="container-transparent legals-content">
   
		 
			<h1> Vous les avez voulues... Les voilà...</h1>
			<h1>Les mentions légales !</h1>

			<h2>Editeur</h2>
			<p>Le site Friendship Troopers est produit et édité par les IMACS-de-la-mort-que-tue-du-lol, étudiants de la formation IMAC, au sein de l'ESIPE, immatriculé au Registre des Universités et des Formations universitaires de Nanterre sous le numéro X 666 LOL 123, dont le siège social est situé au : <br/>
			5 Boulevard Descartes 77420 Champs-sur-Marne, France
			<p>Téléphone : 01.60.95.72.16</p>
			<p>E-mail :sec.imac@u-pem.fr</p>
			<p>Directeur de publication : PrincessDu31</p>

			<h2>Hébergeur</h2>
			<p>Site hébergé par WAMP, le meilleur des hébergeurs.</p>
			 

			<h2>Conditions générales d'utilisation</h2>

			<h3>La gentillesse</h3>
			<p>Il est formellement obligatoire d'être gentil, sous peine de mesures méchantes... Réfléchissez-y bien avant d'effectuer votre larcin.</p>

			<h3>L'éthique</h3>
			<p>Il est formellement interdit de dire du mal de Chewbacca, cela sera interprété comme de la non-gentillesse (cf paragraphe précédent).</p>


			<h2>Propriété intellectuelle</h2>
			<h3>Site</h3>
			<p>L’ensemble des textes et des graphiques, soumis au droit d’auteur, est propriété intellectuelle des IMACS-de-la-mort-que-tue-du-lol.</p>
			<h3>Exceptions</h3>
			<p>Il est important de préciser que ce n'est pas le cas des images mises en lignes par les utilisateurs eux-mêmes.</p>
			<p>Les images utilisées pour le questionnaire d'attribution des planètes proviennent d'oeuvres cinématographiques dont nous ne sommes pas propriétaires. Elles proviennent des films suiviant : <br/>
			- Jurassic Park, de Steven Spielberg (1993) <br/>
			- Gardiens de la Galaxie (Guardians Of The Galaxy), de James Gunn (2014) <br/>
			- Ex Machina, de Alex Garland (2015) <br/>
			- Retour vers le futur (Back to the Future), de Robert Zemeckis (1985) <br/>
			- La Guerre des étoiles (Star Wars), de George Lucas (1977) <br/>
			- Doctor Who, Episode 168 – "New Earth", de James Hawes (2006) <br/>
			- Matrix (The Matrix), de Lana Wachowski et Lilly Wachowski (1999) <br/>
			- Starship Troopers, de Paul Verhoeven (1990) <br/>
			- et d'autres...
			</p>


		  </div>
		</div>

  	</div>
	<deconnexion class="desktop"></deconnexion>
     <menu-tools class="desktop"></menu-tools>
</div>