<div>
<navbar></navbar>  
<div class="container-fluid">
    <div class="row">
      <aside class="col-sm-3 col-md-3 col-lg-2">
        <lateral-menu-left ref="menu"></lateral-menu-left>
        <deconnexion class="desktop"></deconnexion>
        <menu-tools class="desktop"></menu-tools>
      </aside>
      <section class="col-sm-8 container-transparent user">
        <div class="container-colored">
          <div class="row profil">
            <div class="col-xs-2">
              <img :src="imagePath" class="user-avatar">
            </div>
            <div class="col-xs-7">
              <div v-if="myself"> <p style="display:inline">Mon profil </p></div>
              <div v-else> <p style="display:inline"> Profil de <h1 :class="profil.name" class="name"> {{ profil.username }} </h1></p></div>
              <p class="honorific-title"> {{ profil.honorificTitle }} </p>
              <p class="green" v-if="profil.points == null"> 0 point </p>
              <p class="green" v-else-if="profil.points < 2"> {{ profil.points}} point </p>
              <p class="green" v-else> {{ profil.points }} points </p>
            </div>
            <div class="col-xs-1 border-right"></div>
            <div class="col-xs-2 ">
              <img :src="planetName" class="planet"> 

              <p class="text-center"> {{ profil.name }} </p>
            </div>
          </div>
        <option-bar :myself="myself" v-on:addfriend="addFriend"></option-bar>
 
                <div class="stat">
        <div class="row center-row no-gutters">  
          <div class="col-xs-4 pink text-center">
            <p class="inline"><span class="fat" v-if="nbFriends != null"> {{ nbFriends }} </span> </p>
            <span class="fat" v-else> 0 </span>
            <p class="inline left" v-if="nbFriends < 2"> ami dans <br>
               <span v-if="myself">ton escouade </span> 
                <span v-else >son escouade </span>
            </p>
            <p class="inline left" v-else> amis dans <br>
                <span v-if="myself">ton escouade </span> 
                <span v-else >son escouade </span>
            </p>
          </div>  
          <div class="col-xs-4 pink text-center">
            <span class="fat inline"> {{ nbRiddleSolved }} </span>
            <p v-if="nbRiddleSolved > 1" class="inline center"> énigmes résolues </p>
            <p v-else class="inline center"> énigme résolue</p>
          </div>
            <div class="col-xs-4 pink text-center">
            <span class="fat inline"> {{ interests.length }} </span>
            <p  class="inline center" v-if="interests.length > 1"> centres d'intérêts </p>
            <p class="inline center" v-else> centre d'intérêt </p>
          </div>
        </div>
        <span class="h-separator center"></span>
        <div class="row interests">
            <p class="interest col-xs-2 center" v-for="(interest, index) in interests" v-if="index < start">
             {{interest.label}} 
            </p>
        </div>
        <span class="h-separator center"></span>
        <div class="col-xs-12 text-center pseudo-button" v-on:click="showMore" v-if=" start == 6"> + Voir plus + </div>
        <div class="col-xs-12 text-center pseudo-button" v-on:click="showLess" v-else-if="start == 0"></div>
        <div class="col-xs-12 text-center pseudo-button" v-on:click="showLess" v-else> - Voir moins - </div>
        
      </div>
        </div>
        <page-nav></page-nav>
        <div  v-for="post in posts" >
          <post :post="post"></post> 
        </div>
      </section>
      <div class="col-lg-2">
         <lateral-menu-right></lateral-menu-right>
      </div>
      
      <menu-tools class="mobile"></menu-tools>

    </div>
  </div>
</div>