<div>
<navbar></navbar>  
<div class="container-fluid">
    <div class="row">
      <aside class="col-sm-2">
        <lateral-menu-left></lateral-menu-left>
        <menu-tools></menu-tools>
      </aside>
      <section class="article col-sm-8">
        <div class="row container-colored">
          <div class="col-sm-2">
            <img :src="user.userAvatar">
          </div>
          <div class="col-sm-8">
            <p v-if="myself"> Mon profil </p>
            <p v-else> Profil de {{ user.username }} </p>
            <small> {{ user.userBadge }} </small>
            <p> Né le {{ user.birthDate }} </p>
          </div>
          <div class="col-sm-2">
            <img :src="user.userPlanet.path"> 
            <p> {{ user.userPlanet.name }} </p>
          </div>
        </div>
        
        <option-bar :myself="myself"></option-bar>

        <statistics  :user="user"></statistics>

        <button v-on:click="profil"> (debug) Profil change from public to private</button>  

        <post></post>
      </section>
      <div class="col-sm-2">
         <lateral-menu-right></lateral-menu-right>
      </div>
    </div>
  </div>
</div>