<div class="userSearch col-xs-12 col-lg-6">
  <div class="row pseudo-button">
    <div class="col-xs-3 col-sm-2 col-lg-3">
      <img :src="user.avatar" alt="author avatar" class="avatar">
    </div>
    <div class="col-xs-6 col-sm-8 col-lg-6">
      <h1 class="pseudo" v-bind:style="{color : planetData[user.planeteId] }" >
        {{ user.username }}
      </h1>
      <p>{{ user.title }}</p>
    </div>
    <div class="col-xs-3 col-sm-2 col-lg-3">
      <img :src="user.planetPath" alt="planet avatar" class="avatar">
    </div>
  </div>
</div>