<div class="container-fluid" id="search">
  <navbar></navbar>
  <div class="row">
    <aside class="col-sm-3 col-md-3 col-lg-2">
      <lateral-menu-left></lateral-menu-left>
      <deconnexion class="desktop"></deconnexion>
      <menu-tools class="desktop"></menu-tools>
    </aside>

    <section class="article col-sm-9 col-md-9 col-lg-10 container-transparent container">
    	<pre>{{usersResult}}</pre>
		<h1> Résultats de la recherche </h1>
		<form class="row" id="searchBar" v-on:submit.prevent.stop="searchBar">
			<input type="text" v-model="search" class="searchInput" placeholder="Recherche..." :value ="search"></input>
	        <input type="submit" class="pseudo-button searchImage" value=""></input>
		</form>
		<div id="filters" class="wrapper">
	        <div v-for="filter in filtersTab" v-on:click="toggleActive(filter)" v-bind:class="{ active: filter.value }" class="pseudo-button item">{{ filter.name }}</div>
   		</div>
   		<div class="row page-nav">
   			<page-nav></page-nav>
   		</div>

   		<div class="row" id="searchResult">
          	<user-component :user="user" v-for="user in usersResult"></user-component>
   		</div>
   		<div class="row page-nav">
   			<page-nav></page-nav>
   		</div>

    </section>

    <menu-tools class="mobile"></menu-tools>
  </div>
</div>