 <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-2">
        <lateral-menu-left></lateral-menu-left>
        <menu-tools></menu-tools>
      </aside>
      <section class="article col-sm-10">
        <div class="row">
          <img src="www/assets/images/Avatar1.svg">
          <h1> Amis de la planète {{ user.planetSelected }}</h1>
          <p> {{ user.nbFriends }} au total</p>
        </div>
        <friend-template :user="user"></friend-template>
      </section>
    </div>
  </div>