<div class="admin-menu">
  <div class=""> 
    <p> Bienvenue </p> 
    <h1> {{ admin.adminName }} </h1>
    <p class="red" v-if=" reports.number > 1"> {{ reports.number }} signalements </p>    
    <p class="red" v-else> {{ reports.number }} signalement </p>
  </div>
  <div class="menu-section-title">Publications</div>
    <a href="/admin/creer-post" class=""> Créer un post intergalactique </a>
    <a href="/admin/creer-evenement" class=""> Créer un évenement </a>

  <div class="menu-section-title">Modération</div>
    <a href="/admin/nouvel-administrateur" class=""> Ajouter un administrateur </a>
    <a href="/admin/signalement" class=""> Signalements </a>
    <a href="/admin/supprimer-compte" class=""> Supprimer un compte </a>

  <div class="menu-section-title">Base de données</div>
    <a href="/admin/ajout-badge" class=""> Ajouter un badge </a>
    <a href="/admin/ajout-avatar" class=""> Ajouter un avatar </a>
    <a href="/admin/ajout-emoticone" class=""> Ajouter un émoticône </a>
    <a href="/admin/ajout-enigme" class=""> Ajouter une énigme </a>

</div>