<form class="form" v-on:submit.prevent.stop="connect">
		<div class="field">
			<label for="">Adresse e-mail</label>
			<input maxlength="255" type="email" v-model="userLogin.mail" name='mail' required>
		</div>
		<div class="field" >
			<label for="">Mot de passe</label>
			<input maxlength="255" type="password" v-model="userLogin.password" name='password' required>
		</div>	
		<div class="field">
			<div v-if="cantSubmit"><slot name="errorLogin"></slot></div>
			<a href="">J'ai oublié mon mot de passe</a>
			<button>Se connecter<img class="img-rocket" src="../www/assets/images/FuseeFirstPage.svg"> </button>
		</div>
    </form>  