<form class="form" v-on:submit.prevent.stop="connect">
	<div class="row">
		<div class="col-sm-3">
			<label for="">Adresse e-mail</label>
		</div>
		<div class="col-sm-9">
			<input maxlength="255" type="email" v-model="userLogin.mail" name='mail' required>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<label for="">Mot de passe</label>
		</div>
		<div class="col-sm-9">
			<input maxlength="255" type="password" v-model="userLogin.password" name='password' required>
		</div>
	</div>	
	<div class="row form-button">
		<div class="col-sm-3"></div><div class="col-sm-9">
			<div v-if="cantSubmit"><slot name="errorLogin"></slot></div>
			<a href="">J'ai oublié mon mot de passe</a>
			<button>Se connecter<img class="img-rocket" src="../../friendship-troopers/www/assets/images/FuseeFirstPage.svg"> </button>
		</div>
	</div>
</form>  