<div class="post">
      <div class="row"> 
        <div class="col-sm-1">
            <div class="avatar">
            <img src="../../assets/images/Avatar1.svg" alt="default avatar" class="avatar">
            </div>
        </div>
        <div class="col-sm-11">
          <div class="row"> 
            <div class="col-sm-11 left">
              <h1 class="pseudo" v-bind:style="{color : planetData[post.planeteId] }" >{{ post.user }}</h1>
              <small class="date"> {{ post.date + " à " + post.hour }}</small>
            </div>
            <div class="col-sm-1 right connect-buttons contain-img">
              <img src="../../assets/images/Options.svg" alt="Options">
            </div>
          </div>
          <div class="row">  
            <div class="col-sm-12">
              <p class="content-block"> {{ post.content }} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 left">
              <button>Voir plus</button>
            </div>
            <div class="col-sm-1 connect-buttons contain-img" v-on:click="like">
              <img class="like-icon" src="../../assets/images/Like.svg" alt="likes">
              <span> {{ post.likes }} </span>
            </div>
            <div class="col-sm-1 connect-buttons contain-img">
              <img src="../../assets/images/Comment.svg" alt="comments"> 
              <span> {{ post.comments.length }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row comment"> 
        <div class="col-sm-1">
            <div class="avatar">
              <img src="../../assets/images/Avatar1.svg" alt="default avatar" class="avatar">
            </div>
        </div>
        <div class="col-sm-11">
          <form class="form-post">
            <textarea rows="3" type="text" placeholder="Votre commentaire"  class="col-sm-11" v-model="newComment"></textarea>
            <img class="col-sm-1" src="../../assets/images/validation.svg" v-on:click="publishNewComment">
          </form>
        </div>
      </div>
    </div>