@import "variables";

.lateralMenuLeft, .lateralMenuRight, .menuTools {
  /* common properties */
  background-color: $comments-background;
}

.lateralMenuLeft {
  /* style and properties */
}
.lateralMenuRight {
  /* style and properties */
}

.menuTools{
  /* style and properties */
  width: 100%;
  margin-top: 1rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.menuTools a{
  /* style and properties for links (a) in menuTools */
  text-decoration: none;
}

.lateralMenuAvatar{
  background-image: url("../images/LineAboveAvatar.svg");
  background-size: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;

  .planet{
    width: 5em;
    z-index: 1;
    position: relative;
  }
}
