@import "variables";

.messages {

	.row {
		margin-right: 0;
		margin-left: 0;
	}

	.conversation {
		@include margin(0.5);
		@include padding(1);
	}
	.responsive-conversation {
		display: inline-block;
	}

	img {
		@include padding(0.5);
	}

	.new-conv {
		/*background: $comments-background ;*/
		@include margin(1);
		@include padding(0.5);
	}

	.new-conv img {
		height: 5rem;
	}

	.clicked {
		background: $sub-menu-border;
	}

	.responsive-all-friends, .responsive-lasts-friends {
		@include padding(2);
		@include margin2(1,0);
		width: 47.5%;
	}
	.responsive-lasts-friends {
		margin-left: 2.5%;
	}
	 
	.show-responsive-lasts-friends, .show-responsive-all-friends {
		@include margin(0);
		@include padding(0);
	}	

	@media all {

		.header-all-friends {
			display: inline-block;
		}
		.conv {
			margin-bottom: 0rem;
			max-height: 50rem;
			overflow-x: initial;
		}

		.responsive-all-friends {
			width: 47.5%;
			margin-right: 2.5%;
		}
		.responsive-all-friends, .responsive-lasts-friends {
			display: none;
			text-align: center;
			@include margin2(1,0);
		}
		.show-responsive-lasts-friends, .show-responsive-all-friends {
			display: none;
		}
		.responsive-all-friends-list, .responsive-lasts-friends-list {
			background: $lateral-menu-background;
			display: inline-block;
			width: 100%; 
			max-height: 20rem;
			overflow-y: auto;
			.conversation, .all-friends-list {
				width: 30%; 
				text-align: center;
				display: inline-block;

			}.all-friends-list {
				text-align: left;
			}
		}
	}

	@media all and (max-width: $break-x-large) {

		.header-all-friends {
			display: none;
		}
		.conv {
			max-width: 100%;
			text-align: center;
			max-height: 15rem;
			margin-bottom: 1rem !important;
		}
		.responsive-all-friends, .show-responsive-all-friends  {
			display: inline-block;
			width: 100%;
			margin-left : 0;
		}
		.responsive-lasts-friends, .show-responsive-lasts-friends {
			display: none;
		}

		@media all and (max-width: $break-large) {
			.conv {
				display: none;
			}

			.conversation {
				width: 100%;
				@include margin(0.5);
				@include padding(1);
			}

			.responsive-lasts-friends {
				display: inline-block;
				width: 47.5%;
				margin-left: 2.5%;				
			}
			.show-responsive-lasts-friends, .show-responsive-all-friends {
				display: inline-block;
				width: 100%;
			}
			
			.responsive-all-friends {
				margin-top: 0rem;
				display: inline-block;
				width: 47.5%;
				margin-right: 2.5%;
			}
			.specific-conv .date{
				display: none;
			}
		}

		@media all and (max-width: $break-mid) {
			.specific-conv {
				margin-top: 1rem;
			}

			.conversation {
				width: 20%;
				@include margin(0);
				@include padding(0);
			}

		}
		@media all and (max-width: $break-small) {
			.responsive-lasts-friends {
				display: inline-block;
				width: 100%;
				margin-left: 0%;				
			}
			
			.responsive-all-friends {
				margin-top: 0rem;
				display: inline-block;
				width: 100%;
				margin-right: 0%;
			}

		}
	}

	.specific-conv {
		max-height: 50rem;
	}

	.conv, .conv-all {
		background: $lateral-menu-background;
		@include margin(0);
		@include padding(0);
	}

	.conv {
		text-align: center;
	}
	
	.conv-all {
		text-align: left;
	}

	.conv-selected {
		background: $comments-background;

	}

	.message-perso {
		@include margin2(1,0);
		@include padding2(0.5,0);
		display: inline-block;
		img.avatar {
			display: inline-block;
			vertical-align: top;
			min-height: 3rem;
		}
		h1 {
			text-align: left;
		}
	}

	.sender-message {
		background: $comments-background;
	}
	.my-message {
		margin-top: 3rem;
		background: none;
	}
	.publish-message {
		@include padding(1);
		background: $comments-publish;
	}

	.message-content {
		display: inline-block;
		position: absolute;
		left: 8rem;
	}

	.date {
		color : $grey;
		@include margin(0);
	}

	.header-all-friends {
	    max-height: 5rem;
	}
	.all-friends {
	    overflow-y: auto;
	    max-height: 43rem;
	    @include padding(0);

		p {
			display: inline-block;
		    @include padding(0);
		    @include margin(0);
		}
		img {
			display: inline-block;
		}
	}

	.conv-content {
		max-height: 40rem;
	    overflow-y: auto;
	}

	.page-title {
		text-align: left;
		font-size: 2.5rem;
		@include margin(2);
	}

	p {
		@include margin2(2,0);
	}

	form {
		textarea {
			background: $comments-publish;
			color: $main-text;
		}

		img {
			@include padding(0);
			@include margin(0);
			max-height: 4rem;
		}
	}
	
}