@import "variables";

.messages {
	.row {
		margin-right: 0;
		margin-left: 0;
	}

	.conversation {
		@include margin(1);
		@include padding(2);
		background: $comments-background ;
	}

	img {
		@include padding(0.5);
	}

	.new-conv {
		/*background: $comments-background ;*/
		@include margin(1);
		@include padding(0.5);
	}

	.new-conv img {
		height: 5rem;
	}

	.specific-conv, .conv {
		@include margin2(1, 2);
	}

	.conv-selected {
		background: $comments-publish;
	}

	.message-perso {
		background: $comments-publish;
		@include margin2(1,0);
		@include padding2(0.5,0);
	}

	.my-message {
		margin-top: 3rem;
	}

	.date {
		color : $grey;
		@include margin2(2,0);
	}

	.page-title {
		text-align: left;
		font-size: 2.5rem;
		@include margin(2);
	}

	p {
		@include margin2(2,0);
	}

	form {
		textarea {
			background: $comments-publish;
			color: $main-text;
		}

		img {
			@include padding(0);
			@include margin(0);
			max-height: 4rem;
		}
	}
	
}