@import "reset";
@import "variables";
@import "admin";
@import "navBar";
@import "lateralMenu";
@import "input-range";
@import "bootstrap-custom";

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}


h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: normal;
  @include font-size(1.6);
  color:$main-title;
  text-transform: uppercase;
  text-align: center;
} 

.container-colored{
  background:$articles-background;
  @include margin4(0, 0, 1, 0);
  @include padding(1);
}

.container-transparent{
  background-color: $transparent-background;
  @include margin4(0, 0, 1, 0);
  @include padding(1);
}


.relative{
  position:relative; 
}


.top-right, .bottom-right{
  position: absolute;
  right:1rem;
  color:$grey;
}

.friend-list{
  flex-flow: row wrap;
  background:  none;

  .item{
    flex-grow:0;
    background: $comments-background;
    @include margin(1);
  }

  img{
    width:100%;
    @include padding(1);
    @include border-radius(10);
  }
}

.top-right{
  top:1rem;
}

.bottom-right{
  bottom:1rem;
}



/* .container-fluid{
  background:$articles-background;
} */

.welcome-on-board{
  width: 80%;
  height: 120%;
  margin: 2% auto;
  @include padding(2);
  @include font-size(1.3);

  .row{
    @include margin2(1,5);
  }

  .row:nth-child(2){
    margin:4rem 0;
  }

  .title > div{
    display: inline-block; 
  }

  .title >div:first-child{
    @include font-size(5);
  }

  .title >div:last-child{
    position: absolute;
    @include font-size(2);
    padding: 1rem
  }

  .slider{
    opacity:0.2;
  }

  img.planet {
      height: 40rem;
  }

}


@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

.text-center{
  text-align:center;
}

body {
  font-family: $main-font;
  font-weight: normal;
  @include font-size(1.2);
  background-image: url("../images/background-bigger.jpg");
  color:$main-text;
}


.center{
  @extend %center;
}

.left>*{
  text-align: left;
}

.right {
  text-align: right;
}

a{
  color:$main-text;
  text-decoration: underline;
  &:hover{
    color:$main-title;
    background-color: none;
  }
}

.button-field{
  margin-top:1rem;
}

form{
    label{
      display:block;
      margin-bottom: 0;
      display: inline-block;
      min-width: 19%;
      text-align: right;
      /* padding: 0 4%; */
    }
    input{
    background: $comments-background ;
    border: none;
    @include padding-button(1);
    outline: 0;
    display: inline-block;
    width:80%;
  }
  
  textarea {
    @extend input;
    width: 100%;
    resize: none;
  }
}

select {

  background: #3b425e;
  color:$white;
  font-weight: 300;
  @include padding2(0.5,1.5);
  width:100%;
  border:none;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, $grey 50%),
    linear-gradient(135deg, $grey 50%, transparent 50%),
    linear-gradient(to right, $comments-background, $comments-background);
  background-position:
    calc(105% - 20px) calc(1em + 2px),
    calc(105% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

button{
  background: $main-title ;
  border: none;
  @include padding-button(1);
  outline: 0;
  display: inline-block;
  &:hover{
    background: $username;
  }
}


.login{
/*   background-image: url("../images/background-image.jpg");
background-repeat:no-repeat; */
  .container{
    width:900px;
  }
  .row{
     @include padding(1);
  }

  .col-sm-4 > .row{
    @include padding2(0.5,0);
  }
 
  .col-sm-8{
    
    padding:0;
  }

  .tabs > div{
    width: 50%;
    display: inline-block;
    @include padding2(0.5,0);
    border-bottom: 1px solid $main-title;
    margin-bottom: -1px; 
    h1{
      color:white;
    }
    
  }
  .tabs > div:first-child{
    border-right:  1px solid $main-title;
    
  }

  .activeTab{
    @include background-transparent(0.6);
    border-top:  1px solid $main-title;
    border-bottom:  none !important ;
    margin-bottom: 0px;
    border-left:  1px solid $main-title;
    h1{
      color:$main-title !important;
    }
  } 

 
  h1{
    @include margin4(0,0,2,0);
  }
  p{
    @include margin(1);
    text-align: center;
  }

  form{
    border-left: 1px solid $main-title;
    @include background-transparent(0.6);
    @include padding(0.5);
  }
  label{
    font-weight: 300;
    @include padding2(0.5,0); 
  }
  .row:nth-child(4){
    label{
      @include padding(0);
    }
  } 
  input{
    width:100%;
    color:$white;
    @include margin2(0.1,0);
  }

  form > .row > .col-sm-3{
    text-align: right;
  }

  .item:nth-child(2){
    @include margin2(0,2);
  } 

  .form-button{
    text-align: right;

    button{
      margin: 0 0 0 2%;
      @include padding-button(2);
      color:$white;

      .img-rocket {
        width: 3em;
        position: absolute;
        right:0em;
      }
    }
  }
  
 
}



small {
  font-weight: lighter;
  @include font-size(1);
}

/* .content-block {
  margin: 0% 0% 0% 100px;
} */

.post {
  background-color: $articles-background;
  padding: 2%;
  margin-bottom: 2%;
}
.publish {
  background-color: $comments-background;
  padding: 2%;
  margin-bottom: 2%;
  textarea {
    margin-left: 2%;
    width: 98%;
    background: $publish-background;
    color: $grey;
  }
}

.pseudo {
  margin: 0px 1px 0.5px 2px;
}

.connect-buttons {
  text-align: right;
}

.contain-img{
  width:4em;
  img{
    width: 100%;
    height: 100%;
  }
}

.avatar {
  max-height: 6rem;
/*   padding-right:0; */
  text-align:center;
    img{
      @include border-radius(10);
      width:auto;
      height:inherit;
    }
}

.post-content {
  padding-left: 5rem;
}

.your-comment{
  text-align: center;
  background: $comments-background;
  width: 95%;
  margin: 0 2.5%;
  margin-top:2%;
  max-height: 8em;
  .col-sm-1{
    padding: 1%;
  }
  img {
    max-height: 4em;
  }
  button{
    margin-top:1em;
  }
  .form-post img {
    cursor: pointer;
  }
  textarea{
    color: $grey;
    padding-left: 0;
    text-align: left;
  }

}


/* @media screen and (min-width: 1200px) {
  .container-fluid {
    width: 1170px;
  }
} */


.like-icon:hover {
  background-image: url("../images/LikeFull.svg");
  background-size: 100%;
}

.square {
  height: 13rem;
  width: 13rem;
  margin: 1rem auto;
}

input[type="radio"] {
    width: 5rem;
    margin-top: 5rem;
}

.invite-friends {
  margin : 10% 0 0 0;
}

.uploadPicture {
  background: $articles-background;
  width: 6rem;
  img{
    width: 100%;
    height: 100%;
  }
}

.circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:2px solid $comments-background;
    width:20px;
    height:20px;
    background-color: $transparent-background;
    margin:0;
}


.small-circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:2px solid $comments-background;
    width:15px;
    height:15px;
    background-color: $transparent-background;
    margin: 0;
}

.fullCircle {
  background-color: $comments-background;
}

.border-planet {
  border-style: solid;
  border-width: 1.5rem;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.border-left {
  border-left-style: solid;
  border-left-width: 0.2rem;
}

