@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


// Colors variables

$white: #fff; 
$enigme-title: #8cada9;

$main-title: #46bfa9;
$username: #349994;
$planets: #206671;

$main-text: #e7e8e8;
$grey : #cdcccc;
$secondary-text : #999999;

$comments-background : #2f3b4f;
$articles-background : #212d3f;
$menu-background : $articles-background;
$background: #0f1928;

$notifs: #d48bbc; 
$report-red : #ef3824;
$report-brown : #b5780b;


// Font Variables

$main-font: 'Roboto', serif;   


@font-face {
    font-family: earthOrbiter-font;
    src: url(../fonts/earthorbiterxtrabold.ttf);
}

$title-font: earthOrbiter-font;


// Padding and margin variables

@mixin padding($sizeValue) {
  padding:$sizeValue + rem;
}

@mixin padding-button($sizeValue) {
  padding:$sizeValue*0.5 + rem $sizeValue*1.5 + rem;
}

@mixin padding-input($sizeValue) {
  padding:$sizeValue*0.9 + rem;
}

@mixin margin($sizeValue) {
  margin:$sizeValue + rem;
}

@mixin margin2($height,$width) {
  margin:$height+rem $width+rem;
}

@mixin margin4($top,$right,$bot,$left) {
  margin:$top+rem $right+rem $bot+rem $left+rem;
}

// Center something

%center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// Placeholders for inputs

@mixin placeholder($color) {

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

// Styles

html {
  font-size: 62.5%; 
}

@mixin font-size($sizeValue: 0.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin border-radius($size) {
  border-radius: $size*10 + px;
  -webkit-border-radius: $size*10 + px;
  -moz-border-radius: $size*10 + px;
}

@mixin border-radius-percent($percent) {
  border-radius: $percent + %;
  -webkit-border-radius: $percent + %;
  -moz-border-radius: $percent + %;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}