@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Colors variables

$white: #fff; 


$main-title: #46bfa9;
$username: #349994;
$planets: #206671;

$main-text: #e7e8e8;

$grey : #cdcccc;
$secondary-text : #999999;

$transparent-background : rgba(47,60,79,0.2);

//Menu colors
$menu-background : #060c2a;


$input-background : #131735;
$lateral-menu-background : #21253e;
$sub-menu-background : #e5e5e5;
$sub-menu-border : #359691;
$sub-menu-list-item-background : #21646f;
$sub-menu-item-background : #19565d;


//posts
$publish-background : #4a526c;
$comments-background : #2d3653;
$comments-publish : #3b425e;
$articles-background : #272c48;

@mixin background-transparent($value) {
  background: rgba(45, 54, 83, $value)
}

//Secondary colors
$notifs: #c33a78; 
$enigme-title: $notifs;
$green-text: #17d4b2;

//Administration colors
$report-red : #ef3824;
$report-brown : #b5780b;


//Planete colors
$planet-space-opera : #faa61a;
$planet-parallel : #f04747;
$planet-robots : #de8ace;
$planet-earth : #3fb7e0;
$planet-alien : #72b51a;


// Font Variables

$main-font: 'Roboto', serif;

// Media queries

$break-x-large: 1200px;    
$break-large: 992px;    
$break-mid: 768px;    
$break-small: 467px;    


@font-face {
    font-family: earthOrbiter-font;
    src: url(../fonts/earthorbiterxtrabold.ttf);
}

$title-font: earthOrbiter-font; 


// Padding and margin variables

@mixin padding($sizeValue) {
  padding:$sizeValue + rem;
}

@mixin padding2($height,$width) {
  padding:$height+rem $width+rem;
}

@mixin padding4($top,$right,$bot,$left) {
  padding:$top+rem $right+rem $bot+rem $left+rem;
} 

@mixin padding-button($sizeValue) {
  padding:$sizeValue*0.4 + rem $sizeValue*1.9 + rem;
} 

@mixin padding-input($sizeValue) {
  padding:$sizeValue*0.9 + rem;
}

@mixin margin($sizeValue) {
  margin:$sizeValue + rem;
}

@mixin margin2($height,$width) {
  margin:$height+rem $width+rem;
}

@mixin margin4($top,$right,$bot,$left) {
  margin:$top+rem $right+rem $bot+rem $left+rem;
}

// Center something

%center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// Placeholders for inputs

@mixin placeholder($color) {

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

// Styles

html {
  font-size: 62.5%; 
}

@mixin font-size($sizeValue: 0.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin border-radius($size) {
  border-radius: $size*10 + px;
  -webkit-border-radius: $size*10 + px;
  -moz-border-radius: $size*10 + px;
}

@mixin border-radius-percent($percent) {
  border-radius: $percent + %;
  -webkit-border-radius: $percent + %;
  -moz-border-radius: $percent + %;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}