<div class="about">
	<navbar></navbar>
	<div class="container-fluid">

		<div class="row">
	  		<div class="container-transparent about-content">
	       		<h1>À propos</h1>

	       		<h2>Volonté</h2>
	       		<p>
	       			Friendship Troopers se veut être est un réseau social créant des liens entre ses utilisateurs. Pour cela nous avons mis en place un système d'énigmes qui permet de réfléchir à plusieurs et collaborer pour aboutir à une solution, ce qui ne peut, selon nous que favoriser les rencontres. 
	       		</p>

	       		<h2>Énigmes et ludisme</h2>
	       		<p>
	       			L'utilisateur est poussé à participer aux énigmes grâce à un système de points et de récompenses. S'il souhaite obtenir des points, il devra alors participer aux énigmes, et donc intéragir avec d'autres utilisateurs. La forme ludique ce concept permet justement de rendre ce site "social". <br/>
	       			Il est néanmoins possible de faire une énigme en mode "solo", les points récoltables seront simplement inférieurs.
	       		</p>

	      </div>
	    </div>
	</div>
	<deconnexion class="desktop"></deconnexion>
	<menu-tools></menu-tools>
</div>