

<div class="login">
<div class="container">
    <div style="text-align:center" class="row">
          <h1>Votre mot de passe s'est perdu dans le vide intersidéral. <br>
            Vous partez en mission pour tenter de le retrouver.
          </h1>
          <p>
            Vous pouvez réinitialiser votre mot de passe en rentrant votre adresse mail ! Nous vous enverrons un mail.
          </p>
    <!--       <form class="form" v-on:submit.prevent.stop="sendMail">
      <div class="row">
        <div class="col-xs-3">
          <label for="">Adresse e-mail</label>
        </div>
        <div class="col-xs-9">
          <input maxlength="255" type="email" v-model="user.mail" name='mail' required>
        </div>
      </div>
      
      <div class="row form-button">
          <div class="col-xs-12">
            <button class="pseudo-button">Envoyer le mail<img class="img-rocket" src="./assets/images/FuseeFirstPage.svg"> </button>
          </div>
        
        </div>
      </div>
    </form>
    <form class="form" v-on:submit.prevent.stop="reinitialize">
      <div class="row">
        <div class="col-xs-3">
          <label for="">Adresse e-mail</label>
        </div>
        <div class="col-xs-9">
          <input maxlength="255" type="email" v-model="user.mail" name='mail' required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <label for="">Hash</label>
        </div>
        <div class="col-xs-9">
          <input maxlength="255" type="text" v-model="user.mail" name='mail' required>
        </div>
      </div>
      
      <div class="row form-button">
          <div class="col-xs-12">
            <button class="pseudo-button">Envoyer le mail<img class="img-rocket" src="./assets/images/FuseeFirstPage.svg"> </button>
          </div>
        
        </div>
      </div>
    </form>  
     -->

          <router-link :to="{ name: 'Login'}"><button>Revenir à l'accueil</button></router-link>
    </div>

  </div>
</div>

